.App {
  margin: 0px auto;
  max-width: 1280px;
  //   height: 1842px;
  display: grid;
  //   grid-template-rows: 112px 200px 1156px 513px;
  grid-template-rows: 28px 2fr 2fr 6fr 3fr;
  grid-template-columns: 3fr 9fr;
  grid-template-areas:
    "hr hr"
    "h h"
    "a a"
    "s c"
    "f f";
}

.container {
  max-width: 990px;
  margin: 0px auto;
}

.header {
  grid-area: h;
  background-color: rosybrown;
}

.afisha {
  background-color: blueviolet;
  grid-area: a;
}

.saidbar {
  background-color: chartreuse;
  grid-area: s;
}

.content {
  background-color: cyan;
  grid-area: c;
}

.footer {
  background-color: darkred;
  grid-area: f;
}
