.App {
  font-family: "Roboto", sans-serif;
  max-width: 1280px;
  margin: 0px auto;
  display: grid;
  grid-template-rows: 28px 112px 60px 1300px 2fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "ht ht"
    "hf hf"
    "n n"
    "c c"
    "f f";
}

.container {
  max-width: 1000px;
  margin: 0px auto;
}

.center {
  grid-area: c;
}

.center-wrapper {
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-template-areas: "sb m";
}
